# Managed by ansible

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
{{ hostvars[groups.mons.0]['ansible_' + monitor_interface ]['ipv4']['address'] }}	 {{ ansible_hostname }} 
